@model MovieViewModel

<div class="form-group">
    <label asp-for="movie.Title"></label>
    <input asp-for="movie.Title" class="form-control" placeholder="Movie Title">
    <span asp-validation-for="movie.Title" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="movie.ReleaseYear"></label>
    <input asp-for="movie.ReleaseYear" type="number" class="form-control" placeholder="1234">
    <span asp-validation-for="movie.ReleaseYear" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="movie.DurationInMinutes"></label>
    <input asp-for="movie.DurationInMinutes" type="number" class="form-control" placeholder="123">
    <span asp-validation-for="movie.DurationInMinutes" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="movie.Description"></label>
    <textarea asp-for="movie.Description" class="form-control" rows="3" placeholder="This movie is about..."></textarea>
    <span asp-validation-for="movie.Description" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="movie.Rating"></label>
    <input asp-for="movie.Rating" type="number" class="form-control" placeholder="5">
    <span asp-validation-for="movie.Rating" class="text-danger"></span>
</div>
<div>
    <label asp-for="movie.DirectorId">Director</label>
    <select  asp-for="movie.DirectorId" asp-items="Model.Directors" class="form-control">
        <option value="">--- Choose director ---</option>
    </select>
</div>