@{
    ViewData["Title"] = "Home Page";
    DateTime dateTime = DateTime.Now;
}





<div class="text-center">
    <h1 class="display-4">Welcome to Movie Mania</h1>
    <h2 class="display-4">The current date and time is: @{dateTime} </h2>
</div>