@{
    ViewData["Title"] = "Home Page";
    DateTime dateTime = DateTime.Now;
    string message = dateTime.Hour < 12 ? "Good Morning" : "Good Afternoon";
}

@section title
{
    <h1 class="text-center">Welcome to Movie Mania</h1>
}

<div class="text-center">
    <h2>@message, the current date and time is: @dateTime </h2>
</div>