@using MovieMania.Controllers
@model MovieViewModel

@section title{
    <h1 class="text-center">Add movie</h1>
}

<form asp-action="Add" method="post">

    <partial name="_Movie" model="Model" />

    <div class="mt-auto pt-2 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary m-1" asp-controller="Movie" asp-action="Add">Submit</button>
        <a class="btn btn-secondary m-1" asp-controller="Movie" asp-action="Index">Cancel</a>
    </div>
</form>