@rendermode InteractiveServer
@page "/counter"

<h3>Counter</h3>

<p>Current count: @count</p>

<button class="btn btn-primary" @onclick="IncrementCount">Increment by @IncrementAmount</button>

@code {
    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    private int count = 0;

    private void IncrementCount()
    {
        count += IncrementAmount;
    }
}