@model BookingViewModel

<div class="d-flex justify-content-between align-items-center mt-4 mb-4">
    <h1 class="mb-0">Create Booking</h1>
</div>

<partial name="_Booking" model="@Model"></partial>

